/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del cuerpo */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Estilos del menú de navegación */
nav {
    background-color: #2c3e50;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

nav li {
    margin: 0;
}

nav a {
    display: block;
    padding: 15px 20px;
    color: #ecf0f1;
    text-decoration: none;
}

nav a:hover {
    background-color: #34495e;
}

/* Contenido Principal */
main {
    padding: 20px;
    text-align: center;
}

/* Pie de Página */
footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.producto {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 15px;
    width: 200px;
    text-align: center;
}

.producto img {
    max-width: 100%;
    height: auto;
}

.producto h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.producto p {
    margin: 5px 0;
}

.producto button {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.producto button:hover {
    background-color: #2ecc71;
}
